<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <% include ../partials/head.html.ejs %>
    <div class="welcome">
      <%- include ../partials/welcome.html.ejs %>

    </div>
  </head>
  <body>
<div>
  <% members.forEach(function(member) { %>
    <div class= "individualmember">
      <div> <%= member.members_id %> </div>
      <div> Name: <%= member.member_name %> </div>
      <div> Email: <%= member.email %> </div>
      <div> DOB: <%= member.birthday %> </div>
      <form action="/members/all" method="post">
        <input type="hidden" name="members_id" value= <%= me %> >
        <input type="hidden" name="friend_id" value=<%=member.members_id%>>
        <button type="submit">Add Friend</button>
      </form>
    </div>
  <% }) %>
</div>


 </body>

</html>
