<!doctype html>

<head>
  <% include ../partials/head.html.ejs %>

</head>


<header>
  <div class="nav">

    <%- include ../partials/nav.html.ejs %>
  </div>
  <div class="welcome">
    <% include ../partials/welcome.html.ejs %>

  </div>

</header>
<body>
<div class="container">

  <div class=" float-left row membersection">
    <div class="eleven columns">


      <p>Member #: <%= member.members_id %></p>
      <p>Name: <%=member.member_name%></p>
      <p>email: <%=member.email%></p>
      <p>birthdate: <%=member.birthday%></p>

  </div>
</div>
<div class="findfriends">
  <a href="/members/all">Find Friends</a>
</div>

<div class=" float-left row friends-section">
  <div class="6 columns">

<div class="">


    <% friends.forEach(function(friend) { %>
      <div class="individualmember">

         <%= friends[0].friend_name %>

       </div>

      <% }) %>

</div>
</div>



  </div>
</body>
