<!doctype html>

<head>
</head>

<body>
  <div class="container">
    <div class="">
      <p>Member #: <%= member.members_id %></p>
      <p>Name: <%=member.member_name%></p>
      <p>email: <%=member.email%></p>
      <p>birthdate: <%=member.birthday%></p>


    </div class = "friends">
    <% friends.forEach(function(friend) { %>
      <% for (var attr in friend) { %>
        <%= friend[attr] %>
      <% } %>
   <% }) %>

  </div>
</body>
